<html>
<body>

  <p align=center><img src='https://www.ansible.com/hubfs/2016_Images/Assets/Ansible-Mark-Large-RGB-Mango.png?t=1458747764369' height="100" width="100" align=>
  <h1 align=center>Hello World! <p>
    The current time is: {{ ansible_date_time.date }} {{ ansible_date_time.time }}

</body>
</html>
